### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
test/
FetchGate.iml
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Compiled output ###
*.class

### Python ###
__pycache__/
*.pyc

### Project-specific ###
Structure.txt
devlog.md
fg.py
web-ext-artifacts/
extension/.amo-upload-uuid
*.xpi